.box{
    cursor: pointer;
}

.boxTag{
    margin-top: 5px !important;
    margin-right: 20px !important;
}

.tag{
    color: #000 !important;
    font-size: 10px !important;
    margin-left: 6px !important;
    background-color: #00000017 !important;
    cursor: default;
}
.tag:hover{
    background-color: #00000017 !important;
}

.media{
    width: 100%;
    height: 40vh;
}

